.Content_6_heading1{
    color:white;
    font-size: 50px;
    margin-left: 370px;
}
.Content6_paragraph1{
    margin-left: 420px;
    color: white;
}
.Content6_paragraph2{
    margin-left: 510px;
    color: white;
}
.content6img1{
    margin-top: 20px;
    margin-left: 20px;
    width:80px;
   
}
.h1content6{
    color: white;
    margin-left: 50px;
    margin-top: -60px;

}
.haeding_content6_2{
color: white;
font-size: 20px;
margin-top: 50px;
margin-left: 50px;

}
.arrowdowncontent6{

   margin-left: 640px;
   margin-top: -80px;
   width: 50px;
   height: 50px;
}
.content6_haedings_div{
   
    width:842px;
    border:1px solid rgb(17,25,56);
  

    display: inline-flex;
}
.content_6_outer{
    margin-left: 50px;
    width:900px;
}
/* .headingarrowdown{
    display: inline-flex;
} */
/* .o{
    border-bottom: 6px solid rgb(17,25,56);
} */
.content6_main_div{
    width:900px;
  
    margin-left: 140px;

}
.paragraphscontent6{
    border: 1px solid rgb(17,25,56);
    width:840px;
    height:100px;
    color: white;
    background-color: rgb(17,25,56);


}
.paragraphscontent6_1{
    margin-left: 20px;
    
}